---
layout: default
image: '/images/hero.jpeg'
---

{% if site.hero.enable %}
  {% include hero.html %}
{% endif %}

<div class="container">
  {% include slider-posts.html posts=site.posts title="Featured Posts" %}

  <h1 class="underline">Recent Posts</h1>
  <div class="row animate">
    {% if site.posts.size > 0 %}
      {% for post in paginator.posts %}
        {% include article.html %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% include pagination.html %}

{% include section-tags.html %}