{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<!-- begin section-tags -->
<section class="section section-tags">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="section__head underline">
                    <h2 class="section__title">Trending Tags</h2>
                    <a href="{{ site.baseurl }}/tags/" class="section__link">See all</a>
                </div>

                {% assign tagCounts = {} %}

                {% assign sortedTags = site.tags | sort_by: "size" %}
                {% for tag in sortedTags %}
                    <div>{{ tag }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- end section-tags -->