<!-- Post Share -->

{% include toc-side.html %}
<!-- <div class="col-1 sidebar-left">
    {% include share-side.html %}
</div> -->

<script>
    const toggleFocusMode = () => {
        const focusMode = document.getElementById('focus-toggle');
        let display = "block";
        if (focusMode.checked) {
            display = "none";
        }

        const leftSidebars = document.getElementsByClassName('sidebar-left');
        for (let i = 0; i < leftSidebars.length; i++) {
            leftSidebars[i].style.display = display;
        }
    }
</script>