.share {
    text-align: center;
    p {
        margin-bottom: 10px;
        font-size: 0.95rem;
    }

    ul {
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 1.2rem;
        display: flex;
        flex-direction: column;

        li {
            display: inline-block;
            margin-bottom: 9px;

            i.fa {
                border: 1px solid #ddd;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                border-radius: 50%;
            }
        }
    }

    .sep {
        height: 1px;
        width: 20px;
        background: #999;
        margin: 0px auto;
        margin-bottom: 1.2rem;
    }

    @media (max-width: 1024px) {
        display: none;
    }
}

@media (max-width: 768px) {
    .share {
        margin-top: 30px;
    }
}

.share,
.share a {
    color: var(--link-color);
    fill: var(--link-color);
}

.sticky-top-offset {
    top: 100px;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1020;
}