.slider__head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;

    .slider__title {
        padding-right: 20px;
        margin-bottom: 0;
    }

    .slider__arrow {
        color: var(--brand-color);
        padding: 0 10px;
        font-size: 1.6em;
        cursor: pointer;
        user-select: none;
    }

    .disabled {
        color: var(--background-color);
        cursor: not-allowed;
    }
}

.slider {
    position: relative;
    

    .slider-items {
        white-space: nowrap;
        width: 100%;
        position: relative;
        overflow: hidden;
        font-size: 0;
        cursor: grab;
    

        .slider-item {
            display: inline-block;
            user-select: none;
            width: 33.33%;

            @media screen and (max-width: 500px) {
                width: 100%;	
            }

            @media screen and (min-width: 501px) and (max-width: 1024px) {
                width: 50%;	
            }
        }

        .article {
            cursor: grab;
            user-select: none;
            overflow: hidden;
            text-wrap: nowrap;
        }
    }
}